doctype html
html
  head
    title=title
    include ./includes/styles.jade
    include ./includes/scripts.jade
    include ./includes/templates.jade
    include ./includes/json.jade
  body
    block content
